/*
    Author: Sebastian Jaculbe - dcode
    Created: February 15th, 2026
    Updated: February 15th, 2026
*/

html, body{
    text-align: center;
    margin: 0;
    padding: 0;
    background-color:antiquewhite;
}

h1{
    height: 100px;
    width: 100%;
    padding-top: 40px;
    margin: 0;
    text-align: center;
    text-decoration: solid;
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    background-color:beige;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

p {
    display: inline-block;
    text-align: center;
    padding: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    border: 3px solid black;
    border-radius: 15px;
}

.dice-container {
    display: flex;
    justify-content: center;
    padding: 25px;
    margin-top: 25px;
    border: 5px;  
}

.dice {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    background-color: white;
}

.dice-dot {
    /* Defaults */
    --top: 0%;
    --left: 0%;

    width: 15px;
    height: 15px;
    background-color: #000000;
    border-radius: 50%;

    /* Dot Positioning */
    position: absolute;
    top: var(--top);
    left: var(--left);
    transform: translateX(calc(var(--left)* -1)) translateY(calc(var(--top)* -1));
}

.btn-roll-dice {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 40px;
    padding: 20px;
    height: auto;
    border-radius: 20px;
}

.btn-roll-dice:hover {
    background-color: lightgrey;
    transform: ease-in 0.6s;
}